@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgb(69,197,255);
  background: radial-gradient(circle, rgba(69,197,255,1) 0%, rgba(71,214,251,1) 100%);
}

h1 {
  font-weight: 900;
}

.App {
  text-align: center;
  min-height: 680px;
  width: 630px;
  max-width: 80vw;
  
  margin: 30px 8px 0 8px;
  margin-top: 35px;
  padding: 1px 24px 0 24px;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.2);
}


.todo-el {
  display: flex;
  justify-content: space-between;

  min-width: 350px;
  width: 80%;

  padding: 0.4rem 0.8rem;
  margin: 0.2rem auto;
  border-radius: 2px;
}

.todo-el .task {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todo-el .task div {
  margin-right: 15px;
}

.todo-el .task div:nth-of-type(1) {
  margin-right: 6px;
}

.todo-el button {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2px;
  margin-left: 1px;
}

.todo-el button:disabled {
  background-color: rgb(161, 161, 161);
}

.todo-form button {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2px;
  background-color: rgb(69,197,255);
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-left: 1px;
}

input[type="text"] {
  width:30%;
  padding: 0.1rem;
}
input[type="date"] {
  width:120px;
}
input[type="time"] {
  width:80px;
}